<div class="container">
  <h1>We've sent you a link!</h1>
  <p>Thanks for signing up with datacounter! <br>
    Please click the activation link we've sent to the email address you gave us to complete signing up.</p>
</div>
