<div class="container">
  <form action="/edit-profile" method="POST">
    <div class="form-group row">
      <label class="col-3 col-form-label" for="firstName">First Name</label>
      <div class="col-9">
        <input class="form-control" id="firstName" type="text" name="firstName" value="{{user.firstName}}"
        required>
      </div>
      
    </div>
    <div class="form-group row">
      <label class="col-3 col-form-label" for="lastName">Last Name</label>
      <div class="col-9">
        <input class="form-control" id="lastName" type="text" name="lastName" value="{{user.lastName}}"
        required>
      </div>
    </div>
    <div class="form-group row">
      <label for="email" class="col-3 col-form-label">Email</label>
      <div class="col-9">
        <input class="form-control" id="email" type="email" name="email" value="{{user.email}}">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-3 col-form-label" for="role">Role</label>
      <div class="col-9">
        <select class="form-control" id="role" name="role">
        {{#if isParticipant}}
        <option value="participant" selected>Participant</option>
        <option value="researcher">Researcher</option>
        {{else}}
        <option value="participant">Participant</option>
        <option value="researcher" selected>Researcher</option>
        {{/if}}
      </select>
      </div>
      
    </div>
    <div class="col-3">
      <button class="btn btn-primary" action="/edit-profile" method="POST">
        SAVE
      </button>
    </div>
  </form>
</div>