<div class="container">
  <div class="row">
    <div class="col-sm">
      <i class="fas fa-user-circle fa-7x"></i>
    </div>
  </div>
  <h3>Welcome {{user.firstName}} {{user.lastName}} !</h3>
</div>